.contentWrap{
    padding: 10px 20px;
    .Breadcrumb{
        height: 40px;
        margin-top: 0px;
        margin-bottom: 10px;
        //line-height: 50px;
        text-align: left;
        background: #f0f0f0;
        padding: 10px 30px;
        font-size: 18px;
    }
    
    .submenu{
        .submenuTitle{
            line-height: 56px;
            color: #fff;
            text-align: center;
            background: #02499b;
            font-size: 18px;
            font-weight: 800;
        }
        .ant-menu{
            background-color: #f6f6f6;
        }
        .ant-menu-item-selected{
            background-color: #ccdcf0;
            color: #02499b;
            font-weight: 700;
            font-size: 16px;
        }
        .ant-menu-item{
            font-size: 16px;
            display: block;
            padding: 15px 15% 15px 7%;
            line-height: 24px;
            height: 60px;
            //border-bottom: #e8e8e8 1px solid;
        }
    }
}
.articleList{
    .articleListItem{
        cursor: pointer;
        display: flex;
        justify-content: space-between;
        padding: 5px;
        font-size: 18px;
        a{
            color: #000;
        }
    }
}
.contentWrap2{
    padding: 30px;
    .articleListItem{
        cursor: pointer;
        //width: 50%;
        display: flex;
        height: 120px;
        border: 1px solid #efefef;
        padding: 10px;
        margin: 20px;
        .time{
            width: 160px;
            padding: 15px  20px;
            .date{
                width: 100px;
                line-height: 36px;
                text-align: center;
                color: #a1a1a1;
                font-weight: bold;
                font-size: 30px;
            }
            .year{
                width: 100px;
                border-top: solid 1px #eee;
                line-height: 36px;
                text-align: center;
                color: #a1a1a1;
                font-size: 19px;
            }
        }
        .detail{
            text-align: left;
            .title{
                overflow: hidden;
                display: -webkit-box;
                display: block;
                margin: 0;
                line-height: 28px;
                color: #333;
                font-weight: bold;
                font-size: 16px;
                white-space: nowrap;
                text-overflow: ellipsis;
                -webkit-box-orient: vertical;
            }
            .cont{
                overflow: hidden;
                 margin-top: 5px;
                 margin-bottom: 5px;
                line-height: 22px;
                color: #a6a6a6;
                font-size: 14px;
                letter-spacing: 0;
                height: 60px;
            }
        }
    }
}
.articleWrap{
    padding: 60px 100px 38px 100px;
    .title{
        margin: 0;
        line-height: 48px;
        text-align: center;
        font-weight: 400;
        font-size: 32px;
    }
    .time{
        text-align: right;
        font-size: 18px;
        padding: 10px;
        border-bottom: dotted 1px #e1e1e1;
    }
    .content1{
        text-align: left;
        padding: 30px 0px;
    }
}
.ant-card-head{
    height: 30px;
    font-size: 18px;
}
.ant-card-body{
    min-height: 230px;
}
.more{
    cursor: pointer;
    color: #02499b;
}
.indexFileItem{
    display:flex;
    justify-content:space-between;
    font-size: 18px;
}
.indexFileItem:hover{
    cursor: pointer;
    color: #02499b;
}