.contentWrap{
    padding: 10px 20px;
    .Breadcrumb{
        height: 40px;
        margin-top: 0px;
        margin-bottom: 10px;
        //line-height: 50px;
        text-align: left;
        background: #f0f0f0;
        padding: 10px 30px;
        font-size: 18px;
    }
    
    .submenu{
        .submenuTitle{
            line-height: 56px;
            color: #fff;
            text-align: center;
            background: #02499b;
            font-size: 18px;
            font-weight: 800;
        }
        .ant-menu{
            background-color: #f6f6f6;
        }
        .ant-menu-item-selected{
            background-color: #ccdcf0;
            color: #02499b;
            font-weight: 700;
            font-size: 16px;
        }
        .ant-menu-item{
            font-size: 16px;
            display: block;
            padding: 15px 15% 15px 7%;
            line-height: 24px;
            height: 60px;
            //border-bottom: #e8e8e8 1px solid;
        }
    }
}
.articleList{
    .articleListItem{
        display: flex;
        justify-content: space-between;
        padding: 5px;
        font-size: 18px;
        a{
            color: #000;
        }
    }
}