.routerWrap{
    background: url('../assets/image/bg.png') no-repeat top center #f3f3f3;
    .navWrap{
        width: 80%;
        padding-top: 270px;
        margin:0px auto;
        .ant-menu-horizontal{
            background-color: #02499b;
        }
        .ant-menu-item{
            width: 10%;
        }
        .changeFile{
            color: #fff;
        }
    }
    .content{
        min-height: calc(100vh - 382px);
        height: 700px;
        width: 80%;
        margin:0px auto;
        background-color: #fff;
    }
    .footer{
        padding: 20px;
    }
}