.routerWrap{
    .headerWrap{
        background: url('../assets/image/bg.png') no-repeat top center;
        height: 630px;
    }
    .logoImg{
        //margin-left: 300px;
        height: 82px;
        width: 82px;
    }
    .nav{
        padding: 8px 80px;
        display: flex;
        justify-content: space-between;
    }
    .navWrap{
        width: 60%;
        text-align: right;
        .loginBtn{
            color:#fff;
            line-height: 45px;
            width: 70px;
            text-align: center;
            font-size: 14px;
            height: 48px;
            margin-top: 10px;
            cursor: pointer;
        }
        .loginBtn:hover{
             line-height: 46px;
            border-bottom: 2px solid #fff;
        }
        .ant-menu{
            //font-size: 20px;
            margin-top: 10px;
        }
        .ant-menu-horizontal{
            background-color: rgba(0,0,0,0);
            border-bottom: none;
        }
        
        .ant-menu-horizontal > .ant-menu-item:hover, .ant-menu-horizontal > .ant-menu-submenu:hover, .ant-menu-horizontal > .ant-menu-item-active, .ant-menu-horizontal > .ant-menu-submenu-active, .ant-menu-horizontal > .ant-menu-item-open, .ant-menu-horizontal > .ant-menu-submenu-open, .ant-menu-horizontal > .ant-menu-item-selected, .ant-menu-horizontal > .ant-menu-submenu-selected{
            color: #fff;
            border-bottom: 1px solid #fff;
        }
        .ant-menu-item, .ant-menu-submenu-title{
            padding: 0px 7px;
        }
        .ant-menu-item{
            width: 70px;
            padding: 0px;
            text-align: center;
        }
        .changeFile{
            color: #fff;
        }
        .ant-menu-submenu-title{
            color:#fff;
        }
    }
    .content{
        min-height: calc(100vh - 382px);
        //overflow:scroll;
        width: 100%;
        margin:0px auto;
        background-color: #fff;
    }
    .footer{
        padding: 20px;
        background-color: #f3f3f3;
    }
    .logoText{
        margin-top: 180px;
        color: #FFF;
        font-size:30px;
        font-weight: 500;
        letter-spacing: 16px;
        .welcome{
            font-size:80px;
            letter-spacing: 4px;
            font-weight: bold;
            color:#CCD2CB;
        }
    }
}